html {
  font-family: sans-serif;
}

/* Your CSS below here */
.box {
    width: 200px;
    height: 155px;

    margin: auto; /* centers the box*/

    display: flex;  /* centers the box contents*/
    align-items: center; /* centers text vertically within the box*/
    justify-content: center;    /* centers text horizontally within the box*/

    font-size: 1.125rem; /* Using rem converter on google 18px = 1.125rem */
    
    background-color: red;

    color: white;
    text-shadow: 2px 2px 3px black; /* Black text shadow to add contrast and depth to the text (horizontal, vertical and blur radius*/


    border-radius: 10px;

    border: 1px solid #a62020 ;

    background-image: linear-gradient(to bottom right, 
    rgba(0, 0, 0, 0) 0%, 
    rgba(0, 0, 0, 0.2) 30%, 
    rgba(0, 0, 0, 0.2) 100%);

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3), /* Outer shadow */
    inset 2px 2px 5px rgba(255, 255, 255, 0.3), /* inner highlight */
    inset -2px -2px 5px rgba(0, 0, 0, 0.2); /* inner shadow shadow */

}

